/* Intro Section */

  .jumbotron {
    padding-top: 100px;
    background-color: #65727A;
    text-align: center;
    letter-spacing: 2px;
    color: #BEC3BC;
  }

  .spiritanimal{
    max-width: 300px;
    float: center;
    padding: 10px;

  }

  h1 strong {
    font-size: 60pt;
    letter-spacing: 4px;
  }

  .projectsanchor {
    font-size: 25px;
    font-weight:200;
    letter-spacing: 2px;
    color: #E6E8E3;
  }

/* Icon Section */

  .n-icons {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #8F9A9C;
  }


  .iconimg {
    max-width: 80px;
  }

/* About Section */
  .aboutinterest {
    background-color: #BEC3BC;

  }

  .aboutn{

    padding-top: 30px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .aboutn p{
    font-size: 13pt;
  }

  .ex {
    font-weight: bolder;
  }


  .interestsn{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: : 30px;
    height: 297px;
    float: right;
  }

  #interestlist {
    list-style: circle;
    list-style-position: outside;
    line-height: 200%;
    font-size: 13pt;
  }

/* Projects Section */

  .projects-bckgrnd {
    background-color: #D7DACF;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .rowcontainer {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .project-preview {
    padding: 20px;
    margin-bottom: 30px;
  }
  .projimg {
    max-width: 100%;

  }

  .project-preview-info {
    padding-top:10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #E6E8E3;
    max-width: 100%;
    margin-bottom: 30px;
  }

    .project-preview-info p {
      font-size: 1em;
    }

    .project-preview-info h4 {
      color: #65727A;
    }

.furtherinfo {
  width: 100%;
  background-color: #D7DACF;
  margin-bottom:15px;
}
  .languages {
    text-align: left;
  }

  h5 {
      font-size: .75em;
      font-weight: bolder;
    }

    .languages ol li {
      padding: 0;
      list-style:decimal-leading-zero;
    }

    .languages ul {
      padding:inherit;
    }

.testanchor {
  height: 1000px;
}
